@font-face {
    font-family: PixelifySans;
    src: url("font/PixelifySans-VariableFont_wght.ttf") format("truetype")
}

html {
    font-family: PixelifySans, sans-serif ;
    color: white;
}

body{
    background-image: url("images/1224149.png");
    background-attachment: fixed;
    margin: 0em;
}

.navbar {
    padding: 0em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-areas:
        'logo nav nav nav';
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.8em;
    padding: 0.10em;
    background-color: #000000;
}

.navbar a:hover {
    background-color: rgba(39, 39, 39, 0.99);
    color: #727070;
}

.navbar header {
    display: block;
    margin: 0em;
    background-color: black;
}






