@font-face {
    font-family: PixelifySans;
    src: url("font/PixelifySans-VariableFont_wght.ttf") format("truetype")
}

html {
    font-family: PixelifySans, sans-serif ;
    color: white;
}

body{
    background-image: url("images/1224149.png");
    background-attachment: fixed;
    margin: 0em;
}

.base{
    display: block;
    margin: auto;
    background-color: #09090a;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    width: 80%;
    overflow: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position:relative;
    top: 4rem;

}

.navbar {
    padding: 0em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-areas:
        'logo nav nav nav';
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
    padding: 0.30em;
    background-color: #09090a;
}

.navbar a:hover {
    background-color: #141416;
    color: #312835;
}

.navbar header {
    display: block;
    margin: 0em;
    background-color: #09090a;
}

/* vvv HOMEPAGE EDITS vvv */

.logo240{
    display: block;
    margin: auto;
    padding-top: 1rem;
}

.hometitle{
    text-align: center;
    font-size: 5rem;
    margin: 0rem;
}

.home h3{
    text-align: center;
    text-decoration: underline;
    font-size: 8rem;
    margin: 3rem;
}

.home p{
    text-align: center;
    font-size: 25px;
    padding:3rem;
}

.merchants{
    display:block;
    margin: auto;
    padding-top: 1rem;
}

#merchantcap{
    text-align: center;
}

/* vvv PRODUCTS EDITS vvv */

.productsbanner{
    display: block;
    margin: auto;
    padding-top: 1rem;
}

.productstitle{
    text-align: center;
    font-size: 6rem;
    text-decoration: underline;
    padding-top: 3rem;
    margin: 0rem;
}

.product_items{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 7rem;
}

.product_items h3{
    text-align: center;
    font-size: 24px;
}

.product_items article p{
    text-align: center;
    font-size: 18px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.product_items article {
    border-radius: 0.1rem;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    margin: 1rem;
    background-color: #141416;

}


